<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ingenias.plugin.editor.DiagramEditor"
            default="false"
            extensions="idk"
            id="ingenias.plugin.editor.DiagramEditor"
            name="IDKEditor">
      </editor>
   </extension>

</plugin>
